# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [13]:
nums=[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [14]:
# Method 1 
nums.remove(3)

In [15]:
nums

[1, 2, 4]

In [16]:
# Method 2
nums=[1,2,3,4]
nums.pop(2)

3

In [17]:
nums

[1, 2, 4]

In [18]:
# Method 3
nums=[1,2,3,4]
del nums[2]

In [19]:
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [20]:
lst=[2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [21]:
lst.insert(2,2.5)

In [22]:
lst

[1, 2, 2.5, 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [41]:
# CODE HERE
txt="Don't panic!"
print(txt)

Don't panic!

*convert into list*

In [42]:
lst=list(txt)

In [43]:
lst

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [44]:
lst.remove('!')

In [45]:
lst.remove("'")

In [46]:
lst

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [47]:
# CODE HERE
lst.remove("p")
lst.remove("a")
lst.remove("n")
lst.remove("D")

In [48]:
lst

['o', 't', ' ', 'n', 'i', 'c']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [49]:
# CODE HERE

In [51]:
lst1=['p','a','n','D','a']
lst1

['p', 'a', 'n', 'D', 'a']

In [54]:
final_lst=lst+lst1
print(final_lst)

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D', 'a']

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [57]:
# CODE HERE
tup=(31,24,35,85)

In [58]:
print(tup)

(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [61]:
# CODE HERE
lst=list(tup)
lst.remove(35)

In [63]:
print(lst)

[31, 24, 85]

**Extent** tuple (85,19)

In [ ]:
# CODE HERE

In [66]:
lst.extend([85,19])
tup1=tuple(lst)
print(tup1)

(31, 24, 85, 85, 19, 85, 19, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [69]:
tpl=('i','n','n','0')
tpl

('i', 'n', 'n', '0')

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [74]:
# CODE HERE
list1=['Hello',100,[],'innomatics']
list1.insert(1,10)

In [75]:
print(list1)

['Hello', 10, 100, [], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [71]:
# CODE HERE
tpl = ("Innomatics")

In [80]:
tpl[::-1]

'scitamonnI'

In [81]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [ ]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [115]:
for i in range(len(tpl)):

    lst=list(tpl[i])

    lst_value=lst[-1]
    
    lst[-1]=lst_value+20
    tpl[i]=tuple(lst)
print(tpl)

[(10, 20, 140), (40, 50, 160), (70, 80, 190)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [135]:
# CODE HERE
str1='523665'
lst=[]

for i in str1:
    num=int(i)
    lst.append(num)
print(lst)

[5, 2, 3, 6, 6, 5]

In [145]:
lst.sort()
set_lst=set(lst)
lst1=list(set_lst)
lst1.sort()
print("second highest value:",lst1[-2])

second highest value: 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [ ]:
# CODE HERE

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)